body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
body {
	--space-cadet: #22223bff;
	--independence: #4a4e69ff;
	--heliotrope-gray: #9a8c98ff;
	--silver-pink: #c9ada7ff;
	--isabelline: #f2e9e4ff;
	--persian-blue: #28316c;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Roboto:wght@300;400;500&display=swap");
