// colors
$light-grey: #ccc;
$dark-grey: #646464;
$white: #fff;
$gold: #fdc500;
$purple: #5c0099;
$orange: #f1551c;
$twitter-blue: #1dcaff;
$linkedin-blue: #2867b2;
$github-dark: #1c1f22;
$insta-pink: #e1306c;
$dark-red: #c70b0b;
$light-red: #ff5a5a;
$trans-white: rgba(255, 255, 255, 0.75);

// shadows
$shadow-subtle: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.6);
$shadow-heavy: 0 0.6rem 1rem rgba(0, 0, 0, 0.85);
$shadow-mini: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.75);

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
